body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/tlo.png");
	font-size: 16px;
	margin: 0 !important;
	font-family: 'Lato', sans-serif;
	padding-bottom: 100px;
	
	
}

.jumbotron
{
	background-color: #66B032;
	color: 	#225C9F;
	padding: 10px;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 0px;
}

.space
{
	margin-top: 100px;
}

@media(max-width: 720px)
{
    h2
	{
		font-size: 24px;
    }
	h3
	{
		font-size: 18px;
    }
	.space
	{
		margin-top: 0px;
	}
}

.bg1
{
	background-color: white;
	color: #092834;
	padding: 0;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #092834;
    background-color: #F0F7D4;
	cursor: default;	
}


body > main >div > div:nth-child(2) > div.col-md-4.col-md-offset-4.bg1 > ul
{
	
	border:  1px solid #092834;
}

h3
{
	font-weight: 700;
	
}

.nav-pills>li+li  { 

	color: #092834;
	background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover
{
	color: #092834;
	background-color: #B2D732;	
}

a
{
	color: #092834;
}

.nav-pills>li>a {
    border-radius: 0px;
}	

.bg2
{
	background-color: white;
	color: #092834;
	padding-top: 30px;
	border-left: 1px solid #092834;
	border-right: 1px solid #092834;
	border-bottom: 1px solid #092834;
	-webkit-box-shadow: 10px 10px 26px -5px rgba(9,40,52,0.23);
	-moz-box-shadow: 10px 10px 26px -5px rgba(9,40,52,0.23);
	box-shadow: 10px 10px 26px -5px rgba(9,40,52,0.23);		
}

input[type=name],
input[type=email],
input[type=password],
input[type=amount],
input[type=date],
textarea
{
	
	background-color: #f2f2f2;
	color: #666;
	padding:15px;
	box-sizing: border-box;
	resize: vertical;
	margin-bottom:15px;
	
}

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=amount]:focus,
input[type=date]:focus,
textarea:focus

{
	box-shadow: 0px 0px 10px 2px rgba(9,26,45,0.4);
	border-radius: 5px;
	border: 2px solid #83AD2F;
	background-color: #f5fbea;
	color: #83AD2F;
}

input[type=submit]
{
	background-color: #092834;
	font-size: 18px;
	color: #F0F7D4;
	padding: 8px 30px 8px 30px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;	
}

input[type=submit]:focus, input[type=submit]:hover
{
	box-shadow: 0px 0px 10px 2px rgba(9,26,45,0.4);
	background-color: #070612;
	color: #F0F7D4;
}

/* Strona główna*/

.navbarProperties
{
	background-color: #092834;
	border:0px;
	border-radius:0px;
	font-size:18px;
}

.navbar-default .navbar-nav>li>a {
    color: #B2D732;
	line-height: 1.3;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #092834;
    background-color: #F0F7D4;
	font-weight:700;
	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #092834;
    background-color: #B2D732;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #092834;
    background-color: #B2D732;
}

.dropdown-menu 
{
	color: #B2D732;
	background-color: #092834;
}

.dropdown-menu>li>a 
{
    font-size:16px;
    color: #B2D732;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover 
{
    text-decoration: none;
    color: #092834;
    background-color: #F0F7D4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #B2D732;
}
.navbar-default .navbar-toggle {
    border-color: #B2D732;
}

#myNavbar > ul:nth-child(1) > li.dropdown.open > ul > li > a

{
	color: #B2D732;
	background-color: #092834;
}

#myNavbar > ul:nth-child(1) > li.dropdown.open > ul > li > a:focus,
#myNavbar > ul:nth-child(1) > li.dropdown.open > ul > li > a:hover

{
	ext-decoration: none;
    color: #092834;
    background-color: #F0F7D4;
}	
	
h3.articleHeader
{
	text-align: center;
	color: #347B98
}

p 
{
    margin: 0 0 30px;
	text-indent: 20px;
}

.bg3
{
	background-color:white;
	padding: 25px;
	
}	

 img
{
	margin-top:20px;
	border: 2px dotted #347B98;
}

.footerDown
{
	position: fixed;
	height: 60;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
    padding-left: 0px;
	width: 100%
}

.bg4
{
	background-color: #092834;
	font-size:18px;
	color: #F0F7D4;
	
}

@media(max-width: 720px)
{
    .footerDown
	{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 0px;
		padding-left: 0px;
		font-size: 15px;
		height:40;
    }
}


.titleForm
{
	font-size:16px;
	font-weight:700;
	margin-left: 15px;	
	
}

.rowExpense
{
	padding-top: 15px;
}

.btn-dropMenu
{
	color: #092834;
    background-color: #66B032;
    border-color: #347B98;
	font-size: 17px;
	font-weight:700;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
 {
    text-decoration: none;
    color: #092834;
    background-color: #F0F7D4;
    outline: 0;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th 
{
    border: 1px solid #092834;
}

.table>thead>tr>th
 { 
	background-color: #092834;
	color: #66B032;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th 
{
    border: 1px solid #092834;
}

.table-striped>tbody>tr:nth-of-type(odd)
 {
    background-color: #B2D732;
}

body > main > div > div.row.text-center > div:nth-child(3) > article > div > div > table > tbody > tr:nth-child(1),
body > main > div > div.row.text-center > div.col-md-4.col-md-offset-2.bg3 > article > div > div > table > tbody > tr:nth-child(1)
{
	background-color: #092834;
	color: #66B032;
	border: 1px solid #092834;
	font-weight:700;
}

.emptyRow
{
	margin:15px;
}


.wellResult
{
	border: 4px double #092834;
	background-color: #F0F7D4;
	color: #092834;
	padding: 5px;
	width: 100px;
}

.bg5
{
	background-color: #347B98;
	color: #092834;
	font-weight: 700;
}

.rowWithoutMargin
{
	margin-left: 0px;
	margin-right: 0px;
}


#myBtn
{
	background-color: #092834;
	color: #F0F7D4;
	padding: 8px 30px 8px 30px;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	outline: none;	
	margin-bottom: 20px;
}

#myBtn:hover, #myBtn:focus
{
	box-shadow: 0px 0px 10px 2px rgba(9,26,45,0.4);
	background-color: #070612;
	color: #F0F7D4;
}

#differenceText
{
	text-align: center;
	color: #092834;
	background-color: #0E93C8;
	border-radius: 5px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}